<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     LINKJOB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Pessoal </ion-title>

        
    </ion-toolbar>
  </ion-header>
  <h2>Formulário</h2>
   <div class="container">       
      <form action="" class="form">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" ><br>
        <label for="lname">Idade:</label><br>
        <input type="text" id="lname" name="lname" ><br><br>
        <label for="lname">Telefone:</label><br>
        <input type="text" id="Telefone" name="Telefone" ><br><br>
        <label for="lendereco">Endereço:</label><br>
        <input type="text" id="Endereço" name="Endereço" ><br><br>
        <input type="submit" value="Gravar">
      </form> 
    </div>
</ion-content>
