<ion-header>
  <ion-toolbar color="dark">
    <ion-title> SweetDuet </ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button><ion-icon slot="end" name="cart-outline"></ion-icon>
  </ion-toolbar>
</ion-header>


  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Contatos</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-item><ion-icon slot="start"name="logo-whatsapp"> </ion-icon> (21) 99824-4729</ion-item>
  <ion-item><ion-icon slot="start"name="logo-instagram"></ion-icon> @sweetduet</ion-item>
  <ion-item><ion-icon slot="start"name="logo-facebook"></ion-icon> SweetDuet </ion-item> 
</ion-content>
