<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Início</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Cardápio</h1>
  <ion-card>
    <ion-item>
      <div class="center space-above">
    <img src="../../../assets/hamburguer.jpg"/>
  </div>
    </ion-item>
    <ion-card-content>
     X-TUDO 
     <br>R$:13,00
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <div class="center space-above">
    <img src="../../../assets/xbacon.jpeg"/>
  </div>
    </ion-item>
    <ion-card-content>
     X-BACON
     <br>R$:11,00
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <div class="center space-above">
    <img src="../../../assets/catupiry.png"/>
  </div>
    </ion-item>
    <ion-card-content>
     Pizza Catupiry
     <br>R$:25,00
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <div class="center space-above">
    <img src="../../../assets/calabresa.jpg"/>
  </div>
    </ion-item>
    <ion-card-content>
     Pizza Calabresa
     <br>R$:20,00
    </ion-card-content>
  </ion-card>
</ion-content>