<ion-header>
  <ion-toolbar color="dark">
    <ion-title>SweetDuet</ion-title>
    <ion-menu-button slot="start" color="light"></ion-menu-button>
  </ion-toolbar>
</ion-header>
<h1> Catálogo</h1>
<ion-content>

  <ion-card>
  <ion-card-header>
    <ion-card-subtitle> Doce </ion-card-subtitle>
    <ion-card-title> Bolo </ion-card-title>
    <ion-img src="../../../assets/bolo.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content>
      Delicioso bolo de chocolate com morango.
      <ion-button color="danger" expand="full">Saiba mais</ion-button>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle> Doce </ion-card-subtitle>
    <ion-card-title> Cupcake </ion-card-title>
    <ion-img src="../../../assets/cupcake.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content>
   Cupcakes perfeitos para festas de crianças
   <ion-button color="danger" expand="full">Saiba mais</ion-button>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle> Salgado </ion-card-subtitle>
    <ion-card-title> Esfirra </ion-card-title>
    <ion-img src="../../../assets/esfiha.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content>
    Saborosas esfirras para uma noite chuvosa.
    <ion-button color="danger" expand="full">Saiba mais</ion-button>
  </ion-card-content>
</ion-card>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle> Doce </ion-card-subtitle>
    <ion-card-title> Brigadeiros </ion-card-title>
    <ion-img src="../../../assets/brigadeiros.jpg"></ion-img>
  </ion-card-header>
  <ion-card-content>
    Brigadeiros de vários tipos.
    <ion-button color="danger" expand="full">Saiba mais</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
  <ion-footer>
    <ion-toolbar>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-toolbar>
  </ion-footer>

