<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
     Lista de Compras
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1> Sacola </h1>
  
    <ion-list>
         <ion-item-sliding *ngFor="let item of produtos">
        <ion-item>
          <ion-grid>
            <ion-row>
              <ion-col>
         <ion-label>{{item.produto}}</ion-label>
         </ion-col>
         <ion-col>
        <ion-label>{{item.quantidade}}</ion-label>
      </ion-col>
    </ion-row>
      </ion-grid>
        </ion-item>
           </ion-item-sliding>
           
     
      
      </ion-list>
    
  </ion-content>