<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
  LINKJOB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Atividades</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2>Formulário</h2>

  <div class="container">
    <label for="hobbie">Hobbies:</label><br>
    <input type="text" id="hobbie" name="hobbie" ><br><br>
    <label for="Esporte">Esportes:</label><br>
    <input type="text" id="Esporte" name="" ><br><br>
    <input type="submit" value="Gravar">
  </div> 
    
</ion-content>
